%{ E-mail template of SmsTwoStepAuthContrib }%From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %EMAILADDRESS%
Subject: %WIKITOOLNAME% Access Code for Two-step Authentication

Your access code: %ACCESSCODE%

Questions? Contact %WIKIWEBMASTER%
